<header class="site-header">
  <span class="site-title">{{ siteMeta.siteTitle }}</span>
  <nav class="site-nav">
    <ul>
      <li><a href="">latest</a></li>
      <li><a href="">food</a></li>
      <li><a href="">people</a></li>
      <li><a href="">destinations</a></li>
    </ul>
  </nav>
</header>