<header class="site-header">
  <a class="site-title" href="/">{{ siteMeta.siteTitle }}</a>
  <nav class="site-nav">
    <ul>
      <li><a href="/about">about</a></li>
      <li><a href="">food</a></li>
      <li><a href="">people</a></li>
      <li><a href="">destinations</a></li>
    </ul>
  </nav>
</header>