@import "./prism-theme.scss";
@import "page";
body {
    background-color: var(--page-bg);
}

iframe {
    padding: 16px 0;
}

main {
    max-width: 60vw;
    margin: 0 auto;

    @media (max-width: $breakpoint-md) {
        max-width: unset;
    }

    .post-container {
        .post-title {
            margin: 0;
        }
        .post-date {
            font-size: 0.75em;
            color: var(--date-color);
            margin-bottom: 32px;
            margin-top: 0px;
        }
        .content {
            margin-top: 1.5rem;
            ul {
                list-style-type: none;
                margin-left: 18px;

                & > li::before {
                    content: "–"; /* en dash here */
                    position: absolute;
                    margin-left: -1.1em;
                }
            }

            // Select all text wrapped in `` in markdown - generated a `code` tag without a language class
            code:not([class*="language-"]) {
                padding: 0.2em;
                padding-top: 1px;
                padding-bottom: 1px;
                background: #f8f8f8;
                border: 1px solid #dddddd;
            }
        }
    }
}
