@import "global";
@import "header";
@import "footer";
body {
    background-color: var(--page-bg);
}
main {
    max-width: 60vw;
    margin: 0 auto;

    @media (max-width: $breakpoint-md) {
        max-width: unset;
    }
    .container {
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
        background: var(--content-bg);
        padding: 1em 2em;
        @media (max-width: $breakpoint-md) {
            padding: 1em;
        }

        .posts-container {
            margin-top: 2rem;
            .posts-title {
                font-size: 16px;
                font-weight: normal;
                border-bottom: 1px solid var(--border-color);
            }
            .posts {
                margin-top: 1em;
                .post {
                    display: flex;
                    justify-content: space-between;

                    &-link {
                        border-bottom: 2px solid #d2d2d2;
                        &:hover {
                            border-bottom: unset;
                        }
                    }

                    &-date {
                        font-size: 16px;
                        color: var(--date-color);
                    }
                }
                .post + .post {
                    margin-top: 0.3em;
                }
            }
        }
    }
}
